/*!
 * Start Bootstrap - Business Casual v4.1.1 (https://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */
body {
  font-family: 'Lora';
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.cop {
  width: 10;
  height: 20;
}

@font-face {
  src: url(../font/annapurnasil-r.ttf);
  font-family: annapurnasil;
}

a img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: annapurnasil;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(0, 0, 0, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  line-height: 1;
  letter-spacing: 0.2rem;
  font-family: annapurnasil;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

a {
  text-decoration: none !important;
  font-family: Raleway;
  font-weight: 200;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#titolo {
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

#titolo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 992px) {
  width: 50%;
}

#trametta {
  display: block !important;
  color: black;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  font-size: 3.5rem;
  font-family: annapurnasil,  Lora;
  text-align: center;
}

@media screen and (max-width: 414px) {
  #trametta {
    font-size: 2rem;
    text-align: center;
  }
}

#amazon {
  margin-top: 5%;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  text-align: center;
}

#amazon img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width: 414px) {
  #amazon {
    width: 100%;
  }
  #amazon p {
    display: none;
  }
  #amazon img {
    width: 100%;
  }
}

#anteprima p {
  font-size: 1.9rem;
}

#anteprimaimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 25% !important;
}

#Musica {
  margin-top: 15%;
}

#Musica img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Musica p {
  display: block;
}

@media screen and (max-width: 414px) {
  #Musica {
    text-align: center;
  }
  #Musica iframe {
    display: none;
  }
}

h2 {
  font-size: 4rem !important;
}

#Acquista {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #905e40;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

#mainNav {
  top: 0px;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #000;
}

#mainNav li {
  margin-top: 6%;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: black;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #905e40;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #905e40;
  }
}

#menuprincipale {
  display: block;
}

#menuvoci {
  list-style-type: disc;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.navbar {
  padding: none;
}

#menu--min {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

@media screen and (max-width: 991px) {
  #menu--min {
    display: block;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(144, 94, 64, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(144, 94, 64, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #905e40;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

#Romanzi img {
  margin-left: 2px;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  #Romanzi span {
    text-align: center;
  }
  #Romanzi img {
    width: 35%;
    height: 35%;
    margin-left: auto;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 991px) {
  #Romanzi img {
    margin-bottom: 2%;
  }
}

.address strong {
  font-size: 1.2rem;
}

.badges img,
.badges a {
  display: inline;
  height: 350px;
}

@media screen and (max-width: 768px) {
  #copertine {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 991px) {
  #copertine {
    margin-left: 13%;
    margin-right: auto;
    width: 100%;
  }
}

@font-face {
  src: url(../font/annapurnasil-r.ttf);
  font-family: annapurnasil;
}

.footer {
  background-color: #dee2e6;
  color: black;
  font-family: annapurnasil;
  font-size: 20px;
}

.text-primary {
  color: #905e40 !important;
}

.bg-primary {
  background-color: #905e40 !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #905e40;
  border-color: #905e40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #6d4730;
  border-color: #6d4730;
}

.font-weight-light {
  font-weight: 100 !important;
}
