.text-primary {
  color: #905e40 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px fade-out($gray-900, 0.9);
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

.font-weight-light {
  font-weight: 100 !important;
}
