@font-face {
  src: url(../font/annapurnasil-r.ttf);
  font-family: annapurnasil;
}

.footer {
  background-color: $gray-300;
  color: black;
  font-family: annapurnasil;
  font-size: 20px;
 // border-image: url(../img/banconota.png) 20% round;
}
