body {
  @include body-font;
  //background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.cop{
  width: 10;
  height:20;
}
@font-face {
  src: url(../font/annapurnasil-r.ttf);
  font-family: annapurnasil;
}
a{
  img:hover{
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: annapurnasil;
}

p {
  line-height: 1.75;
 
}

.text-faded {
  color: fade-out(black, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  line-height: 1;
  letter-spacing: 0.2rem;

  font-family: annapurnasil;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}
a{
  text-decoration: none !important;
  font-family: Raleway;
  font-weight: 200;
}
.bg-faded {
  background-color: fade-out($white, 0.15);
}


#titolo {
  img{
    margin-left:auto;
    margin-right: auto;
    display: block;
    width: 20%;
   }
   align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
 }
h1{
  margin-top: 0px;
  margin-bottom: 0px;;
}

@media (min-width: 992px){
  width: 50%;
}

#trametta {
  display: block !important;
  color: black;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  font-size: 3.5rem;
  font-family: annapurnasil,  Lora;
  text-align: center;
  @media screen and (max-width: 414px){
    font-size: 2rem;
    text-align: center;
  }
}
#amazon {
  margin-top: 5%;
  width: 40%;
    margin-right: auto;
    margin-left: auto;
   font-size: 1rem;
   text-align: center;
   img:hover{
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
   }
   @media screen and (max-width: 414px){
     p{
       display: none;
     }
     img{
       width: 100%;
     }
     width: 100%;
   }
}
#anteprima{
  p{
    font-size: 1.9rem;
  }
}
#anteprimaimg {
  margin-left:auto;
  margin-right: auto;
  display: block;
  margin-bottom: 25% !important;
}





#Musica {
  margin-top: 15%;
  img{
    margin-left: auto;
    margin-right: auto; 
    display: block;
  }
  p{
    display: block;
  }
  @media screen and (max-width: 414px){
    iframe {
      display: none;
    }
    text-align: center;
  }
}

h2 {
  font-size: 4rem !important;
}

#Acquista {
  text-align: center;
}



//SCROLL
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}