#mainNav {
  top: 0px;
  width: 100%;
  z-index: 2;
  background-color: $secondary;
  @include heading-font;
  .navbar-brand {
    color: $black;
  }
  li {
    margin-top: 6%;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $black;

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: black;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 1rem;
          &:hover {
            color: $primary;
          }
        }
        &.active {
          .nav-link:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

#menuprincipale {
  display: block;
}

#menuvoci 
{
  list-style-type: disc;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.navbar {
  padding: none;
}

#menu--min{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  @media screen and (max-width: 991px) {
    display: block;
  }
}