.list-hours {
  font-size: 0.9rem;
  .list-hours-item {
    border-bottom: 1px solid fade-out($primary, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
    &.today {
      font-weight: bold;
      color: $primary;
    }
  }
  @media(min-width: 992px) {
    width: 50%;
    font-size: 1.1rem;
  }
}
#Romanzi {
  img {
  margin-left: 2px;
      margin-bottom: 2px;
    }
  @media screen and (max-width: 768px){
    span {
      text-align: center;
    }
    img {
      width: 35%;
      height: 35%;
      margin-left: auto;
      
      margin-bottom: 2%;
    }
  }
  @media screen and (max-width: 991px){
    img{
      //width: 35%;
      //height: 35%;
      //margin-left: auto;
      margin-bottom: 2%; 
    }
  }
}
.address {
  strong {
    font-size: 1.2rem;
  }
}

.badges{
  img,
  a{
    display: inline;
    height: 350px;
  }
}



#copertine {
  @media screen and (max-width: 768px){
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (max-width: 991px){
    margin-left: 13%;
    margin-right: auto;
    width: 100%;
  }
}